swagger: '2.0'
info:
  version: 3.0.0
  title: SunRocks API
  termsOfService: 'http://sunrocks.co/terms/'
  contact:
    email: david@trigo.at
host: sunrocks.apps.trigo.io
basePath: /api/public
schemes:
  - https
paths:
  /insurances:
    get:
      summary: List of insurances
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              count:
                type: integer
              insurances:
                type: array
                items:
                  $ref: '#/definitions/Insurance'
                xml:
                  name: Insurances
                  wrapped: true
            xml:
              name: InsuranceResponse
      security:
        - api_key: []
  /sales:
    post:
      summary: create sale entry
      produces:
        - application/json
        - application/xml
      consumes:
        - multipart/form-data
      responses:
        '201':
          description: Created
          schema:
            type: object
            properties:
              resId:
                type: string
            xml:
              name: CreateSaleResponse
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      parameters:
        - in: formData
          name: invoice
          type: file
          description: Rechnung (PDF)
        - in: formData
          name: storeNumber
          type: string
          required: true
          description: Filialen ID (wird pro Filiale bekannt gegeben)
        - in: formData
          name: employeeNumber
          type: string
          description: externe Mitarbeiter Nummer
        - in: formData
          name: insuranceCode
          type: string
          required: true
          description: Code der gewählten Versicherung
        - in: formData
          name: inceptionDate
          type: string
          format: date
          required: true
          description: Versicherungsbeginn
        - in: formData
          name: manufacturer
          type: string
          required: true
          description: Hersteller des Gerätes
        - in: formData
          name: model
          type: string
          required: true
          description: 'Modell (zB iPhone 6S,...)'
        - in: formData
          name: serialNumber
          type: string
          required: true
          description: Seriennummer
        - in: formData
          name: retailPrice
          type: number
          required: true
          description: Verkaufspreis lt. Rechnung
        - in: formData
          name: insuranceRetailPrice
          type: number
          required: true
          description: Verkaufspreis der Versicherung
        - in: formData
          name: sellingDate
          type: string
          format: date
          required: true
          description: Verkaufsdatum
        - in: formData
          name: customerNumber
          type: string
          required: true
          description: Kundennummer (aus externem System)
        - in: formData
          name: isCompany
          required: true
          type: boolean
          description: Firma ja/nein
        - in: formData
          name: inputTaxDeduction
          type: boolean
          required: true
          description: Vorsteuerabzug ja/nein
        - in: formData
          name: customerName
          type: string
          required: true
          description: Firmenname (wenn Firma) oder Vor- und Nachname
        - in: formData
          name: street
          type: string
          required: true
          description: Straße + Nummer
        - in: formData
          name: zipCode
          type: string
          required: true
          description: PLZ
        - in: formData
          name: city
          type: string
          required: true
          description: Stadt
        - in: formData
          name: vat
          type: string
          description: UID Nummer; Pflichtfeld wenn inputTaxDeduction gesetzt wurde
        - in: formData
          name: email
          type: string
          format: email
          required: true
          description: E-Mail Adresse
  /claims:
    post:
      summary: create new claim
      produces:
        - application/json
        - application/xml
      consumes:
        - multipart/form-data
      responses:
        '201':
          description: successful created
          schema:
            type: object
            properties:
              claimNumber:
                type: string
              state:
                type: string
            xml:
              name: CreateClaimResponse
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      parameters:
        - in: formData
          name: claimNumber
          type: string
          required: true
          description: Externe Ticketnummer
        - in: formData
          name: repairInvoice
          type: file
          required: true
          description: Reparaturrechnung
        - in: formData
          name: invoice
          type: file
          description: Rechnung (PDF)
          required: true
        - in: formData
          name: complain
          type: file
          required: true
          description: Polizeiliche Anzeige
        - in: formData
          name: image1
          type: file
          required: true
          description: Bild
        - in: formData
          name: image2
          type: file
          required: true
          description: Bild
        - in: formData
          name: image3
          type: file
          description: Bild
        - in: formData
          name: image4
          type: file
          description: Bild
        - in: formData
          name: image5
          type: file
          description: Bild
        - in: formData
          name: storeNumber
          type: string
          required: true
          description: Filialen ID (wird pro Filiale bekannt gegeben)
        - in: formData
          name: serialNumber
          type: string
          required: true
          description: Seriennummer
        - in: formData
          name: newSerialNumber
          type: string
          description: Neue Seriennummer
        - in: formData
          name: newSerialNumberReason
          type: string
          description: Grund füur neue Seriennummer
        - in: formData
          name: damageDate
          type: string
          format: date
          required: true
          description: Schadendatum
        - in: formData
          name: claimType
          type: string
          required: true
          enum:
            - burglary
            - robbery
            - vandalism
            - broken
            - fire
            - liquid
            - warranty
            - other
          description: Schadensart
        - in: formData
          name: description
          type: string
          required: true
          description: Beschreibung Hergang
        - in: formData
          name: fairValue
          type: number
          required: true
          description: Schadenhöhe
        - in: formData
          name: replacementValue
          type: number
          required: true
          description: Neuwert am Schadentag
securityDefinitions:
  api_key:
    type: apiKey
    name: x-api-key
    in: header
definitions:
  Insurance:
    type: object
    properties:
      _id:
        type: string
        format: uuid
      name:
        type: string
        description: Name
      inputTaxDeduction:
        type: boolean
        default: false
        description: Vorsteuerabzugsberechtigt
      insuranceType:
        type: string
        description: Versicherungstyp (zB Elektronikversicherung o. Garantieversicherung)
      deviceCategory:
        type: string
        description: 'Kategorie (Smartphone, Tablet, PC/Notebook)'
      duration:
        type: integer
        default: 2
        description: Laufzeit in Jahren
    xml:
      name: Insurance
