swagger: "2.0"
info:
  version: 4.0.0
  title: SunRocks API
  termsOfService: "https://www.sunrocks.at/"
  contact:
    email: office@sunrocks.at
host: integration.sunrocks.at
schemes:
  - https
paths:
  /alive:
    get:
      summary: API Status
      responses:
        "204":
          description: no content
  /insurances:
    post:
      summary: Neue Versicherung anlegen
      produces:
        - application/json
        - application/xml
      consumes:
        - multipart/form-data
      responses:
        "201":
          description: Created
          schema:
            type: object
            properties:
              resId:
                type: string
            xml:
              name: CreateSaleResponse
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      parameters:
        - in: formData
          name: invoice
          type: file
          description: Rechnung (PDF)
        - in: formData
          name: invoiceNumber
          type: string
          description: Rechnungsnummer (optional - wird nicht automatisch aus dem Filenamen uebernommen)
        - in: formData
          name: storeNumber
          type: string
          required: true
          description: Filialen ID (wird pro Filiale bekannt gegeben)
        - in: formData
          name: employeeNumber
          type: string
          description: externe Mitarbeiter Nummer
        - in: formData
          name: insuranceCode
          type: string
          required: true
          description: Code der gewählten Versicherung
        - in: formData
          name: inceptionDate
          type: string
          format: date
          required: true
          description: Versicherungsbeginn
        - in: formData
          name: manufacturer
          type: string
          required: true
          description: Hersteller des Gerätes
        - in: formData
          name: model
          type: string
          required: true
          description: "Modell (zB iPhone 6S,...)"
        - in: formData
          name: serialNumber
          type: string
          required: true
          description: Seriennummer
        - in: formData
          name: retailPrice
          type: number
          required: true
          description: Verkaufspreis lt. Rechnung (muss innerhalb des Abdeckungsbereiches der verlinkten Versicherung liegen. Wenn nicht wird ein Fehler (400-Bad Request) geliefert)
        - in: formData
          name: insuranceRetailPrice
          type: number
          required: true
          description: Verkaufspreis der Versicherung
        - in: formData
          name: sellingDate
          type: string
          format: date
          required: true
          description: Verkaufsdatum
        - in: formData
          name: customerNumber
          type: string
          required: true
          description: Kundennummer (aus externem System)
        - in: formData
          name: isCompany
          required: true
          type: boolean
          description: Firma ja/nein
        - in: formData
          name: inputTaxDeduction
          type: boolean
          required: true
          description: Vorsteuerabzug ja/nein
        - in: formData
          name: customerName
          type: string
          required: true
          description: Firmenname (wenn Firma) oder Vor- und Nachname
        - in: formData
          name: street
          type: string
          required: true
          description: Straße + Nummer
        - in: formData
          name: zipCode
          type: string
          required: true
          description: PLZ
        - in: formData
          name: city
          type: string
          required: true
          description: Stadt
        - in: formData
          name: country
          type: string
          description: Land (optional)
        - in: formData
          name: vat
          type: string
          description: UID Nummer; Pflichtfeld wenn inputTaxDeduction gesetzt wurde
        - in: formData
          name: email
          type: string
          format: email
          required: true
          description: E-Mail Adresse
  /grave-insurances:
    post:
      summary: Neue Grabstellenversicherung anlegen
      produces:
        - application/json
        - application/xml
      consumes:
        - multipart/form-data
      responses:
        "201":
          description: Created
          schema:
            type: object
            properties:
              insurance_id:
                type: string
            xml:
              name: CreateGraveInsuranceResponse
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      parameters:
        - in: formData
          name: invoice
          type: file
          description: Rechnung (PDF, JPEG, PNG)
        - in: formData
          name: storeNumber
          type: string
          required: true
          description: Filialen ID (wird pro Filiale bekannt gegeben)
        - in: formData
          name: insuranceCode
          type: string
          required: true
          description: Code der gewählten Versicherung
        - in: formData
          name: inceptionDate
          type: string
          format: date
          required: true
          description: Versicherungsbeginn
        - in: formData
          name: graveNumber
          type: string
          required: true
          description: Identifikationsnnummer des Grabes (Grabadresse)
        - in: formData
          name: insuranceRetailPrice
          type: number
          required: true
          description: Verkaufspreis der Versicherung
        - in: formData
          name: sellingDate
          type: string
          format: date
          required: true
          description: Verkaufsdatum
        - in: formData
          name: customerNumber
          type: string
          required: true
          description: Kundennummer (aus externem System)
        - in: formData
          name: customerName
          type: string
          required: true
          description: Vor- und Nachname
        - in: formData
          name: street
          type: string
          required: true
          description: Straße + Nummer
        - in: formData
          name: zipCode
          type: string
          required: true
          description: PLZ
        - in: formData
          name: city
          type: string
          required: true
          description: Stadt
        - in: formData
          name: country
          type: string
          description: Land (optional)
        - in: formData
          name: email
          type: string
          format: email
          required: true
          description: E-Mail Adresse
  /offer:
    post:
      summary: Neues Angebot anlegen
      produces:
        - application/json
        - application/xml
      consumes:
        - multipart/form-data
      responses:
        "201":
          description: successfully created
          schema:
            type: object
            properties:
              offerId:
                type: string
            xml:
              name: CreateOfferResponse
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      parameters:
        - in: formData
          name: storeNumber
          type: string
          required: true
          description: Filialen ID (wird pro Filiale bekannt gegeben)
        - in: formData
          name: riskName
          type: string
          required: true
          enum:
            - elektrofahrrad
            - fahrrad
            - smartphone
            - tablet
            - notebook-pc
            - wearables
          description: Name des Risikos
        - in: formData
          name: manufacturer
          type: string
          description: Hersteller
        - in: formData
          name: model
          type: string
          description: Modellbezeichnung
        - in: formData
          name: identificationNumber
          type: string
          description: "Identifikationsnummer (Seriennummer, Rahmennnummer,...)"
        - in: formData
          name: retailPrice
          type: number
          required: true
          description: Verkaufspreis lt. Rechnung
        - in: formData
          name: sellingDate
          type: string
          format: date
          required: true
          description: Verkaufsdatum
        - in: formData
          name: customerName
          type: string
          required: true
          description: Firmenname (wenn Firma) oder Vor- und Nachname
        - in: formData
          name: isCompany
          required: true
          type: boolean
          description: Firma ja/nein
        - in: formData
          name: inputTaxDeduction
          type: boolean
          required: true
          description: Vorsteuerabzug ja/nein
        - in: formData
          name: street
          type: string
          required: true
          description: Straße + Nummer
        - in: formData
          name: zipCode
          type: string
          required: true
          description: PLZ
        - in: formData
          name: city
          type: string
          required: true
          description: Stadt
        - in: formData
          name: country
          type: string
          description: Land (optional)
        - in: formData
          name: vat
          type: string
          description: UID Nummer; Pflichtfeld wenn inputTaxDeduction gesetzt wurde
        - in: formData
          name: email
          type: string
          format: email
          required: true
          description: E-Mail Adresse
        - in: formData
          name: phone
          type: string
          description: Telefonnummer
  /update-identification-number:
    post:
      summary: Identifikationsnummer eines Angebots nachträglich aktualisieren
      produces:
        - application/json
        - application/xml
      consumes:
        - multipart/form-data
      responses:
        "200":
          description: successfully updated
          schema:
            type: object
            properties:
              offerId:
                type: string
            xml:
              name: CreateOfferResponse
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      parameters:
        - in: formData
          name: identificationNumber
          type: string
          required: true
          description: "Identifikationsnummer (Seriennummer, Rahmennnummer,...)"
        - in: formData
          name: offerId
          type: string
          format: uuid
          required: true
          description: ID des Angebotes
  /claims:
    post:
      summary: Neuen Schadenfall anlegen
      produces:
        - application/json
        - application/xml
      consumes:
        - multipart/form-data
      responses:
        "201":
          description: successfully created
          schema:
            type: object
            properties:
              claimNumber:
                type: string
              state:
                type: string
            xml:
              name: CreateClaimResponse
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      parameters:
        - in: formData
          name: claimNumber
          type: string
          required: true
          description: Externe Ticketnummer
        - in: formData
          name: claimType
          type: string
          required: true
          enum:
            - feuer-blitz
            - bruchschaden
            - displayschaden
            - einbruchdiebstahl
            - bedienungsfehler
            - flüssigkeitsschaden
            - sonstiges
            - raub
            - vandalismus
            - garantieschaden
            - diebstahl
            - unfall
            - akku-defekt
            - identifikationsnummerntausch
            - feuer-explosion
          description: Schadensart
        - in: formData
          name: repairInvoice
          type: file
          required: true
          description: Reparaturrechnung
        - in: formData
          name: invoice
          type: file
          required: true
          description: Rechnung (PDF)
        - in: formData
          name: complain
          type: file
          description: Polizeiliche Anzeige
        - in: formData
          name: image1
          type: file
          required: true
          description: Bild
        - in: formData
          name: image2
          type: file
          required: true
          description: Bild
        - in: formData
          name: image3
          type: file
          description: Bild
        - in: formData
          name: image4
          type: file
          description: Bild
        - in: formData
          name: image5
          type: file
          description: Bild
        - in: formData
          name: storeNumber
          type: string
          required: true
          description: Filialen ID (wird pro Filiale bekannt gegeben)
        - in: formData
          name: identificationNumber
          type: string
          required: true
          description: "Identifikationsnummer (Seriennummer, Rahmennnummer,...)"
        - in: formData
          name: newIdentificationNumber
          type: string
          description: Neue Identifikationsnummer
        - in: formData
          name: newIdentificationNumberReason
          type: string
          description: Grund für neue Identifikationsnummer
        - in: formData
          name: damageDate
          type: string
          format: date
          required: true
          description: Schadendatum
        - in: formData
          name: description
          type: string
          required: true
          description: Beschreibung Hergang
        - in: formData
          name: fairValue
          type: number
          required: true
          description: Schadenhöhe
        - in: formData
          name: replacementValue
          type: number
          required: true
          description: Neuwert am Schadentag
securityDefinitions:
  api_key:
    type: apiKey
    name: x-api-key
    in: header
